{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đề tài nghiên cứu khoa học</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    
    
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Jquery.js' %}"></script>
    <script src="{% static 'js/Script.js' %}"></script>
</head>
<body  id="body" onload="GetJSON()">
    <form action="" method="POST">
        {% csrf_token %}
    </form>
    <div class="container-fluid p-5 my-5 border">
        <h1 class="text-center alert alert-primary">MÔ HÌNH ĐIỀU KHIỂN HỆ ĐA VI ĐIỀU KHIÊN PHÂN TÁN THÔNG QUA LAN</h1>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <center>
                                        <h5>Khu vực A10</h5>
                                    </center>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr />
                                    </div>
                                </div>
                                {% for CON_1 in CONSTROL_1 %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" value="{{CON_1.NAME}}" class="form-control" id="id_NAME" readonly>
                                                    <input type="text" value="{{CON_1.TYPE}}" class="form-control" id="id_TYPE" readonly>
                                                    <a href="#Monitor_and_Control_Area__1-{{forloop.counter}}" class="btn btn-success btn-outline-primary BTN_EDIT" data-btnid = "{{CON_1.id}}" data-bs-toggle="modal"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <center id="TEMP__{{CON_1.id}}">
                                                <div class="mt-2" id="IMG__{{CON_1.id}}">
                                                    <div class="IMG col-md-4 mt-4"></div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-md-4">
                                            <center>
                                                <button class="card_button mt-2 rounded-pill text-nowrap BUTTON_ON" data-id = "{{CON_1.id}}">Bật thiết bị</button>
                                            </center>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Quạt: " class="form-control" readonly>
                                                <div class="input-group-text" id="QUAT__{{CON_1.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Bóng đèn: " class="form-control" readonly>
                                                <div class="input-group-text" id="BongDen__{{CON_1.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <center>
                                                <button class="card_button mt-2 rounded-pill text-nowrap BUTTON_OFF" data-id = "{{CON_1.id}}">Tắt thiết bị</button>
                                            </center>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Quạt trần: " class="form-control" readonly>
                                                <div class="input-group-text" id="QuatTran__{{CON_1.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Điều hòa: " class="form-control" readonly>
                                                <div class="input-group-text" id="DieuHoa__{{CON_1.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr />
                                        </div>
                                    </div>
                                    <div id="Monitor_and_Control_Area__1-{{forloop.counter}}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="/update/{{CON_1.id}}" method="post">
                                                    {% csrf_token %}
                                                    <div class="modal-header">						
                                                        <h4 class="modal-title">Đổi tên thiết bị</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">					
                                                        <div class="form-group">
                                                            <label>Tên phòng</label>
                                                            <input name="NAME" value="{{CON_1.NAME}}" type="text" class="form-control" required readonly>
                                                            <label>Loại thiết bị</label>
                                                            <select class="form-control" name="TYPE" value="{{CON_1.TYPE}}">
                                                                <option value="Quạt">Quạt</option>
                                                                <option value="Quạt trần">Quạt trần</option>
                                                                <option value="Bóng đèn">Bóng đèn</option>
                                                                {% comment %} <option value="Máy chiếu">Máy chiếu</option> {% endcomment %}
                                                                <option value="Điều hòa">Điều hòa</option>
                                                            </select>
                                                        </div>				
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-primary" value="Xác nhận">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <center>
                                        <h5>Khu vực A9</h5>
                                    </center>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr />
                                    </div>
                                </div>
                                {% for CON_2 in CONSTROL_2 %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" value="{{CON_2.NAME}}" class="form-control" id="id_NAME" readonly>
                                                    <input type="text" value="{{CON_2.TYPE}}" class="form-control" id="id_TYPE" readonly>
                                                    <a href="#Monitor_and_Control_Area__2-{{forloop.counter}}" class="btn btn-success btn-outline-primary BTN_EDIT" data-btnid = "{{CON_2.id}}" data-bs-toggle="modal"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <center id="TEMP__{{CON_2.id}}">
                                                <div class="mt-2" id="IMG__{{CON_2.id}}">
                                                    <div class="IMG col-md-4 mt-4"></div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-md-4">
                                            <center>
                                                <button class="card_button mt-2 rounded-pill text-nowrap BUTTON_ON" data-id = "{{CON_2.id}}">Bật thiết bị</button>
                                            </center>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Quạt: " class="form-control" readonly>
                                                <div class="input-group-text" id="QUAT__{{CON_2.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Bóng đèn: " class="form-control" readonly>
                                                <div class="input-group-text" id="BongDen__{{CON_2.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <center>
                                                <button class="card_button mt-2 rounded-pill text-nowrap BUTTON_OFF" data-id = "{{CON_2.id}}">Tắt thiết bị</button>
                                            </center>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Quạt trần: " class="form-control" readonly>
                                                <div class="input-group-text" id="QuatTran__{{CON_2.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                            <div class="input-group mt-2">
                                                <input type="text" value="Điều hòa: " class="form-control" readonly>
                                                <div class="input-group-text" id="DieuHoa__{{CON_2.id}}">
                                                    <div class="ON_OFF col-md-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <hr />
                                        </div>
                                    </div>
                                    <div id="Monitor_and_Control_Area__2-{{forloop.counter}}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="/update/{{CON_2.id}}" method="post">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Đổi tên thiết bị</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Tên phòng</label>
                                                            <input name="NAME" value="{{CON_2.NAME}}" type="text" class="form-control" required readonly>
                                                            <label>Loại thiết bị</label>
                                                            <select class="form-control" name="TYPE" value="{{CON_2.TYPE}}">
                                                                <option value="Quạt">Quạt</option>
                                                                <option value="Quạt trần">Quạt trần</option>
                                                                <option value="Bóng đèn">Bóng đèn</option>
                                                                {% comment %} <option value="Máy chiếu">Máy chiếu</option> {% endcomment %}
                                                                <option value="Điều hòa">Điều hòa</option>
                                                            </select>
                                                        </div>				
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-primary" value="Xác nhận">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>